User vagrant
Group vagrant

<VirtualHost *:80>
    Servername      perijinan.dev
    Serveralias     127.0.0.102
    DocumentRoot    /mnt/sip/web
    <Directory "/mnt/sip/web">
        AllowOverride All
    </Directory>
</VirtualHost>
